body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2E382E;
}

a {
  color: white;
  background-color: #2E382E;
}

.title {
  position: relative;
  color: white;
  text-align: center;
  word-wrap: break-word;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 50px;
}

.text {
  position: relative;
  color: white;
  text-align: center;
  word-wrap: break-word;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.background{
  background-color: #2E382E;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 200px;
  background-color: #9883E5;
}

.navbar-userinfo {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
}

.logo {
  position: relative;
  top: 0px;
  left: 0px;
  height: auto;
  width: 200px;
}

.form{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  margin: 0px;
  padding: 10px;
  height: auto;
  width: 260px;
  background-color: #9883E5;
  border-radius: 10px;
}

.form-group{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 0px;
  padding: 6px;
}

.form-control{
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 235px;
}

.btn {
  position: relative;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  background-color: #9883E5;
}

/*
#2E382E
#50C9CE
#72A1E5
#9883E5
#FCD3DE
*/