body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2E382E;
}

a {
  color: white;
  background-color: #2E382E;
}

.title {
  position: relative;
  color: white;
  text-align: center;
  word-wrap: break-word;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 50px;
}

.text {
  position: relative;
  color: white;
  text-align: inherit;
  word-wrap: break-word;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.background{
  background-color: #2E382E;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 200px;
  background-color: #9883E5;
  text-align: center;
}

.navbar-userinfo {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
}

.side-bar-info {
  position: relative;
  height: 100px;
  width: 100%;
}

.social-bar{
  position: relative;
  top: 25px;
  margin: 0px;
  padding: 0px;
  width: auto;
  height: auto;
  text-align: left;
}

.logo {
  position: relative;
  top: 0px;
  left: 0px;
  height: auto;
  width: 200px;
}

.settings-icon {
  position: absolute;
  top: 13px;
  left: 5px;
  height: auto;
  width: 30px;
  padding: 10px;
}

.settings-link {
  position: relative;
  top: 0px;
  left: 0px;
  height: auto;
  width: auto;
  padding: auto;
  margin: 0px;
}

.form{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  margin: 0px;
  padding: 10px;
  height: auto;
  width: 260px;
  background-color: #9883E5;
  border-radius: 10px;
}

.form-group{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 0px;
  padding: 6px;
}

.form-control{
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 235px;
}

.btn {
  position: relative;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  background-color: #9883E5;
}

.forums-div {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  width: 600px;
  padding: 10px;
  margin: 0px;
  background-color: #9883E5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0px, 150px));
  grid-gap: 0px;
  border-radius: 20px;
}

.forum-flex-container {
  background-color: #2E382E;
  margin: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.forum-content {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  width: 60%;
  padding: 10px;
  margin: 0px;
  background-color: #9883E5;
  display: flexbox;
}

.button{
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  width: auto;
  padding: 10px;
  margin: 0px;
  word-wrap: break-word;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.button-close{
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  width: auto;
  padding: 10px;
  margin: 0px;
  word-wrap: break-word;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.center{
  position: inherit;
  left: 50%;
  transform: translate(-50%);
}

.bottom{
  position: absolute;
  bottom: 0px;
}

.left{
  position: absolute;
  left: 0px;
}

.top{
  position: absolute;
  top: 0px;
}

.right{
  position: absolute;
  right: 0px;
}

.threadFooter{
  position: relative;
  bottom: 0px;
  left: 2px;
  height: 50px;
  width: auto;
  padding: 5px;
  margin: 2px;
  border-radius: 0px;
  background-color: #2E382E;
  color: white;
}

.threadHeader{
  position: relative;
  top: 0px;
  left: 2px;
  height: 50px;
  width: auto;
  padding: 5px;
  margin: 2px;
  border-radius: 0px;
  background-color: #2E382E;
  color: white;
}

.voteButtonsDiv{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  width: 200px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: green;
  display: flex;
}

.upvotebutton{
  position: relative;
  height: 40px;
  width: 50px;
  padding: 0px;
  margin: 0px;
  background-image: url("../images/thumbs.png");
  background-size: cover;
}

.downvotebutton{
  position: relative;
  height: 40px;
  width: 50px;
  padding: 0px;
  margin: 0px;
  background-image: url("../images/thumbs.png");
  background-size: cover;
  transform: rotate(180deg);
}

.voteCounterDiv{
  position: relative;
  height: 40px;
  width: 100px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: black;
}

.voteCounter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 20px;
}

.openCommentsButton{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  height: 40px;
  width: 20%;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: #2E382E;
  color: white;
} 

.commentsDiv {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: #1a1f1a;
  display: flexbox;
}

.commentDiv {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  height: auto;
  width: auto;
  padding: 5px;
  margin-top: 2px;
  border-radius: 0px;
  background-color: #2E382E;
  border-radius: 10px;
  color: white;
  white-space: pre-wrap;
}

.commentButton {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  height: 40px;
  width: 20%;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: #2E382E;
  color: white;
}

.commentTextArea {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  height: 70px;
  width: 95%;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: #2E382E;
  color: white;
}

.commentSubmitButton {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  height: 30px;
  width: 20%;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: white;
  color: #2E382E;
}

.bottomTab {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 70px;
  width: 150px;
  background-color: black;
  border-radius: 20px 0px 0px 0px;
}

.bottomTabButton{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background-color: inherit;
  border-color: black;
}

.socialHub {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 500px;
  background-color: black;
  box-shadow: -10px 0px black;
}

.closeButton {
  position: absolute;
  height: 100%;
  width: 50px;
  background-color: #9883E5;
}

.bottomTabText{
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-size: 20px;
  width: 100%;
  height: auto;
}

.socialHubTop{
  position: absolute;
  top: 10px;
  right: 0px;
  height: 50px;
  width: 100%;
  background-color: #3a403a;
}

.socialHubTitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 30px;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.socialHubFollowersFollowing{
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 400px;
  background-color: #3a403a;
  display: flex;
}

.socialHubFollowingFollowers{
  position: relative;
  height: 390px;
  width: 50%;
  background-color: #3a403a;
  margin: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.topNavBar{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: #2E382E;
}

.topNavBarText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 25px;
  font-family: monospace;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.topNavBarContent{
  position: absolute;
  top: 50px;
  left: 0px;
  color: white;
  height: 340px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: red;
}

.socialHubFriendsDiv{
  position: absolute;
  top: 480px;
  left: 50%;
  transform: translate(-50%);
  height: 300px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: #3a403a;
}

.freindsSearchText{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0%,-50%);
  color: white;
  font-size: 20px;
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0px;
}

.freindsSearchBar{
  position: absolute;
  top: 0px;
  left: 200px;
  height: 50px;
  width: 290px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  background-color: #2E382E;
  color: white;
  font-size: 25px;
}

.socialHubFriendsResultsDiv{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  height: 250;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  display: flexbox;
}

.socialHubFriendsSearchResultsDivMatch{
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #2E382E;
  margin: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.socialHubFriendsSearchResultsDivMatchUsername{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0%,-50%);
  color: white;
  font-size: 20px;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.socialHubFriendsSearchResultsDivMatchAddButton{
  position: absolute;
  top: 0px;
  right: 10px;
  height: 50px;
  width: 50px;
  padding: 0px;
  margin: 0px;
  background-color: green;
  color: black;
}

/*
#2E382E
#50C9CE
#72A1E5
#9883E5
#FCD3DE
*/